# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment and virtualenv directories
venv/
env/
.venv/

# Ignore git-related files
.git/
.gitignore

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore documentation and licensing files
README.md
LICENSE

# Ignore other unnecessary files
*.log

